.header_bloc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4F7344;
    height: 15vh;
}

.logo{
    width: 150px;
    margin-left: 10%;
}

.icon_header{
    margin-right: 5%;
    color: white;
}
